<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Ivan/IdeaProjects/TableTest">

        <parameter name="table" value="driver.findElement(By.xpath('//table[@id='customers'])')"> </parameter>
        <parameter name="searchColumn" value="1"></parameter>
        <parameter name="searchText" value="Alfreds Futterkiste"></parameter>
        <parameter name="returnColumnText" value="3"></parameter>
        <parameter name="expectedText" value="Germany"></parameter>

        <classes>

            <class name="BaseTest">
                <methods>
                    <include name="customTest"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>